<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <br><br><br>
            <img class="responsive w-100 mt-5 mb-5" [src]="banner" alt="Code for Interview">
        </div>
    </div>
    <br><br><br><br>
    <h4 class="display-4 mt-5 text-center">Code for Interview</h4>
    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p><b>HI, IT's ME!</b></p>
            <p>I'm a Software Engineer based in India. I've built websites, desktop applications and corporate software.
                If you are interested, you can view some of my favorite projects listed down below
                <br><br>
                Need something built or simply want to have chat? Reach out to me on <a
                    href="https://www.instagram.com/codeforinterview/">social media</a> or send me an <span
                    class="text-info" title="codeforinterview01@gmail.com">email</span>.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 mb-5">

            <p><b>MY PERSONAL INTERESTS</b></p>
            <p>When I am not coding my next project, I enjoy spending my time doing any of the following:
            </p>
            <ul>
                <li>One with the restless feet because I live to travel</li>
                <li>Action Movies are resident of my eyes because I am busy watching them</li>
                <li>I'm addicted to Instagram as an alcoholic to a beer</li>
                <li>And I am meeting more people and creating new opportunities.</li>
            </ul>
        </div>
    </div><br><br>
    <h1 class="mt-5 mb-5 text-center">Our Youtube Channel</h1>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="mt-5 mr-5">
                <img class="img-thumbnail" [src]="youtubefront" alt="Youtube Channel">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-5 mb-5">
            <p class="text-secondary mt-3">Find our Videos</p>
            <h2>Code for Interview <a href="https://www.youtube.com/channel/UCDhlrfAmZEQ-PBx9B2f3t3Q">Youtube
                    Channel</a></h2>
            <p class="mt-4">Below you can see some Video Series I've been working on lately. You will find these video
                series on our Youtube Channel</p>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>Java Projects</h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>JavaScript Projects</h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>Spring Boot Projects with
                Angular 8</h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>AMCAT Preparation Series</h5>
        </div>
    </div><br><br>
    <p class="text-secondary mt-5 text-center">Some of my latest work</p>
    <div class="row mt-3 mb-5">
        <div class="col-lg-4 col-sm-12 p-4">
            <img class="img img-fluid" [src]="javaproject" alt="Java Projects">
        </div>
        <div class="col-lg-4 col-sm-12 p-4">
            <img class="img img-fluid" [src]="amcatseries" alt="AMCAT Series">
        </div>
        <div class="col-lg-4 col-sm-12 p-4">
            <img class="img img-fluid" [src]="cocubesseries" alt="CoCubes Series">
        </div>
    </div><br><br>
    <div class="mt-5 p-5">
        <img class="img-fluid" [src]="allvideos" alt="All Videos">
    </div><br><br><br>

    <p class="text-secondary mt-5 text-center">Need something built or simply want to have chat?</p>
    <div class="row mt-5 mb-5">
        <div class="col-lg-5 col-sm-12 mt-5 p-5">
            <p class="text-secondary">Getting in touch is easy!</p>
            <h2>Follow us on Instagram</h2>
            <ul class="mt-3">
                <li>Off Campus Drives</li>
                <li>Company's Online Test Questions</li>
                <li>Updates</li>
            </ul>
            <p class="mt-4"><b>username</b> - codeforinterview
                <br><a href="https://www.instagram.com/codeforinterview/">click here</a></p>

        </div>
        <div class="col-lg-7 col-sm-12 p-5">
            <img class="img-fluid" [src]="instagram" alt="Follow us on Instagram">
        </div>
    </div>
    <app-footer></app-footer>
</div>