<br><br><br>
    <hr class="bg-info w-50 mt-5">
    <div class="container">
        <div class="row col-12">
            <div class="col-lg-4 col-xs-12 mt-5">
                <h2>Code for Interview</h2>
                <p>Stay Connected</p>
                <div>
                    <p><a href="https://www.instagram.com/codeforinterview/"><i class="fa fa-instagram mr-2"
                                aria-hidden="true"></i></a>Follow us on Instagram</p>
                    <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>codeforinterview01@gmail.com</p>

                </div>
            </div>
            <div class="col-lg-4 col-xs-12 mt-5 mr-5">
                <h2>about me</h2>
                <p>I'm a software engineer based in India.<br>I enjoy turning complex problems into simple solutions. 
                    When I'm not coding, posting on Instagram or making videos for youtube, you'll find me eating,
                    watching movie or working out in the park.</p>
            </div>
            <div class="col-lg-3 col-xs-12 mt-5">
                <h2>Contact Us</h2>
                <p>codeforinterview01@gmail.com</p>
                <p>Let's build together</p>
            </div>
        </div>
    </div>
